---
- hosts: all
  become: true
  roles:
    - role: nickjj.docker
      vars:
        docker__users:
          - "vagrant"
    - role: grog.authorized-key
    - role: phizzl.dockercompose
      become_user: "vagrant"
