#!/bin/bash

if [ ! -f /usr/local/bin/docker-compose ]; then {
    echo Installing docker

    sudo apt-get update && \
    sudo apt-get install apt-transport-https ca-certificates curl gnupg-agent software-properties-common -y && \
    curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add - && \
    sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable" && \
    sudo apt-get update && \
    sudo apt-get install docker-ce -y && \
    sudo curl -L "https://github.com/docker/compose/releases/download/1.24.1/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose && \
    sudo chmod +x /usr/local/bin/docker-compose && \
    sudo usermod -a -G docker vagrant

    if [ "${?}" != "0" ]; then {
        echo Error while installing docker
        exit 1
    } fi
}  fi

if [ ! -f /home/vagrant/.ssh/authorized_keys.original ]; then
    cp -v /home/vagrant/.ssh/authorized_keys /home/vagrant/.ssh/authorized_keys.original || exit 1
fi

echo "Generating authoried keyfile"
cp -v /home/vagrant/.ssh/authorized_keys.original /home/vagrant/.ssh/authorized_keys
{% if vd.authorized_keys is defined %}
    {% for key in vd.authorized_keys %}
        echo "{{ key }}" >> /home/vagrant/.ssh/authorized_keys
    {% endfor %}
{% endif %}

{% if vd.install_script is defined %}{{ vd.install_script }}{% endif %}