#!/bin/bash

##Inject SSH private key if defined#####
if [ -f /vagrant/id_rsa_vacker ]; then
    cp -vf /vagrant/id_rsa_vacker /home/vagrant/.ssh/id_rsa && \
    chmod -v 0600 /home/vagrant/.ssh/id_rsa
fi

##Run custom boot script################
{% if vacker.boot_script is defined %}{{ vacker.boot_script }}{% endif %}
